<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registro Oferente</title>

    <!-- CSS propio -->
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>

<div class="form-container form-large">

    <h2>Registro Oferente</h2>

    <div th:if="${error}" style="color:red;">
        <p th:text="${error}"></p>
    </div>

    <form th:action="@{/registro/guardar}" method="post">

        <!-- ERROR GENERAL (campos vacíos) -->
        <p class="error" th:if="${errorCampos}" th:text="${errorCampos}"></p>

        <div class="form-group">
            <label>Cédula:</label>
            <input type="text" name="cedula" required maxlength="9" placeholder="1234567890">
        </div>

        <div class="form-group">
            <label>Nombre:</label>
            <input type="text" name="nombre" required>
        </div>

        <div class="form-group">
            <label>Apellido:</label>
            <input type="text" name="apellido" required>
        </div>
        <!-- CORREO -->
        <div class="form-group">
            <label>Correo:</label>
            <input type="email" name="email" required placeholder="ejemplo@correo.com">

            <div th:if="${errorCorreo}" style="color:red;">
                <p th:text="${errorCorreo}"></p>
            </div>
        </div>

        <!--  CONTRASEÑA -->
        <div class="form-group">
            <label>Contraseña:</label>
            <input type="password" name="clave" required minlength="6" placeholder="Mínimo 6 caracteres">

            <div th:if="${errorClave}" style="color:red;">
                <p th:text="${errorClave}"></p>
            </div>
        </div>

        <!--  IMPORTANTE: tipo oculto -->
        <input type="hidden" name="tipo" value="OFERENTE">

        <!-- BOTÓN -->
        <button type="submit" class="btn btn-primary">
            Registrarse
        </button>

    </form>

</div>

</body>
</html>