<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bolsa de Empleo</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body class="bg-light">

<!--Barra de navegación-->
<nav class="navbar">
    <div>
        <a href="/">Bolsa de Empleo</a>
    </div>

    <div>
        <a th:href="@{/puestos/buscar}">Buscar Puestos</a>

        <!-- antes: btn btn-outline-info -->
        <a class="btn btn-outline" th:href="@{/registro/empresa}">
            Registro Empresa
        </a>

        <!-- antes: btn btn-primary -->
        <a class="btn btn-outline" th:href="@{/registro/oferente}">
            Registro Oferente
        </a>

        <a th:href="@{/login}">Iniciar Sesión</a>
    </div>
</nav>

<!--Contenido Principal-->

<div class="container mt-5">
    <div class="p-5 mb-4 bg-white rounded-3 shadow-sm text-center">
        <h1 class="display-5 fw-bold">Encuentra tu próximo desafío</h1>
        <p class="fs-4">La plataforma líder para conectar empresas con el mejor talento.</p>
        <hr class="my-4">
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <a th:href="@{/puestos/buscar}" class="btn btn-primary btn-lg px-4">Ver Ofertas</a>

            <a th:href="@{/registro/empresa}" class="btn btn-outline-secondary btn-lg px-4">Soy una Empresa</a>
        </div>
    </div>
</div>

</body>
</html>